
.widget-wrapper{
    width: 6.25rem;
    height: 8rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    line-height: 1;
}

.widget-icon {
    width: 6.25rem;
    height: 4.5rem;
}
.widget-icon>a {
    display: flex;
    justify-content: center;
}

.widget-text {
    text-align: center;
    width: 6.25rem;
    height: 3.5rem;
}